.btn--violet {


    background: inherit;
    color: white;
    background: rgb(183, 93, 209);
    background: linear-gradient(348deg, rgba(183, 93, 209, 1) 0%, rgba(187, 75, 221, 1) 30%, rgba(255, 160, 229, 1) 100%);
    border-radius: 50px;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 0;
    border: none;
    width: 200px;
    height: 50px;

    &:hover {
        background-color: lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px #000;
    }

}