.bloc {
    background-color: white;
    width: 120vw;
    display: block;
    height: 120vh;
    margin: 0;
    top: -50px;
    position: fixed;
    z-index: 1;
    animation: loader;
    animation-duration: 3s;
    transition: opacity 10s ease-in-out;
    animation-delay: 1.75s;
    animation-fill-mode: both;

    .bloc__loader {
        position: absolute;
        left: 25%;
        top: 40%;
    }
}